* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #034d92;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 43, 43);
    padding: 40px;
    width: 28%;
    align-items: center;
    margin: 100px auto;
    border-radius: 20px;
    padding: 100px;
}
.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 90px;
    margin: 20px;
}
section {
    background-color: rgb(60, 58, 58);
    border: 10px solid none;
    border-radius: 10px;
    color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    display: flex;
    width: 150%;
    justify-content: center;
    
}
main, section, h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

h1 {
    color: white;
    margin: 2px;
}
h2 {
    color: rgb(148, 210, 55);
    margin: 2px;
    font-size: 19px;
}
p{
    color: white;
    margin: 20px;
    font-size: 18px;
}


.attribution {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    font-size: large;
}

a {
    color: #466e94;
    text-decoration: none;
}